/* You can add global styles to this file, and also import other style files */
body{
	font-family:Arial;
}
p{
	padding:0px;
	margin:0px;
}

.mydp{
	vertical-align:middle;
}
.addTodo, .error{
	margin-bottom:10px;
	display:table-row;
}